fastapi==0.115.0
uvicorn[standard]==0.30.6

SQLAlchemy==2.0.32
PyMySQL==1.1.1
transformers==4.43.3
tokenizers==0.19.1
sentencepiece==0.2.0
huggingface_hub==0.24.6
hf_transfer==0.1.6

# CPU 전용 PyTorch wheel
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1

# 환경 변수 로딩 라이브러리
python-dotenv==1.0.1
